- flash.each do |key, message|
  %div{"aria-describedby" => "turbo-flash-body-#{key}", "aria-labelledby" => "turbo-flash-title-#{key}", :role => "dialog"}
    %div{:id => "turbo-flash-title-#{key}"}= message['title'] || message
    - if message['body']
      %div{:id => "turbo-flash-body-#{key}"}= message['body']
